.contact-section{
    background-color: #F3F1FF;
    width: 100vw;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center
    ;
}

.main-contact{
    /* width: 50vw; */
}

.main-contact form{
display: flex;
justify-content: space-between;
align-items: center;
width: 55vw;
margin: auto;
}

.main-contact form input{

    width: 350px;

    }

    .main-contact form label{
font-weight: 600;
    
        }

    .main-contact form textarea{
        height:  200px !important;
        width: 370px;
    
        }
    

/* ANIMATION SECTION */

